{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brain Tumor Segmentation</title>  <!-- Updated title -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="{% static 'design.css' %}">
    

  </head>




  <body>

    




      <!-- form for file upload-->

      <form id="uploadForm" method="post" action="{% url 'uploaded_file' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" id="fileInput" name="file"  accept=".h5" style="display: none;" 
        onchange="document.getElementById('uploadForm').submit();">

      </form>







      
      <!-- TITLE-->

    <div class="container">
      <div class="row justify-content-center">
  
        <div class="col-md-6 text-black text-center mt-5">
          <div class="Title-box">BRAIN TUMOR SEGMENTATION AND EDUCATION MODEL</div>
        </div>

    </div>




        <!-- UPLOADED MRI SCAN DISPLAY-->

    
        <div style="display:flex; justify-content:center; gap:100px; margin-top:20px;">
       
          <div class="MRI-box">


              <!-- show error message-->

            {% if error %}

            <p> {{ error }} </p>

          
            
            <!-- or show uploaded image -->
            {% elif image_url %}

            <img src = "{{ image_url }}" style = "width:520px; height:456px;">



            <!-- if neither then show the information -->
            {% else %}

            <p> MRI upload will be displayed here please wait... </p>

            {% endif%}


          </div>
        





        <!--  MASK OUTPUT DISPLAY-->
        

            <div class="MRI-box">

              {% if unet_error %}

                <p>{{ unet_error }}</p>


              {% elif overlay_url %}

                 <img src="{{ overlay_url }}" style="width:520px; height:456px;">


              {% else %}

              <p> Tumor detection will be displayed here...  </p>


              {% endif %}


            </div>

        
      


      </div>




      <!-- Disclaimer-->
      <div class="row justify-content-center mt-4">


        <div class="col-md-6 text-center">

          <div class="Disclaimer-box">

            <p>DISCLAIMER: This application is for educational use only and not for medical use. Results may not always be accurate.</p>

          </div>


        </div>

      </div>


      

      <!-- FileCheck BUTTON-->
      <div class="row justify-content-center mt-4">

        <div class="col-md-4 text-center">

          <button class="Check-button" data-bs-toggle="modal" data-bs-target="#fileModal" aria-label="Check file requirements">
            Check file requirements
        </button>


    </div>
</div>




    <!-- UPLOAD BUTTON-->
     <div class="row justify-content-center mt-4">

        <div class="col-md-4 text-center">
            
            <button class="Upload-button" onclick="document.getElementById('fileInput').click();">
             Upload MRI
            </button>


        </div>
      </div>




      

    <!-- LLM OUTPUT DISPLAY-->
     <div class="row justify-content-center mt-4 MB-5">
        <div class="col-md-10">

            <div class="Explanation-box" >


        <P style="font-weight:bold; font-size:20px;"> AI EXPLANATION:</P>


            <!-- show error message-->

            {% if llm_error %}

            <p>{{ llm_error }}</p>


            {% elif llm_output %}

           
            <div class="llm-text">{{llm_output | safe}}</div>

            {% else %}

            <p>Processing MRI please wait...</p>

              {% endif %}

            </div>
        
    </div>

    </div>

















       <!-- IMPLEMNTING MODAL TO DISPLAY FILE REQUIREMENTS-->

    <div class="modal fade" id="fileModal" tabindex="-1">

      <div class="modal-dialog modal-dialog-centered modal-lg">


        <div class="modal-content Modal-box">

          <div class="modal-header">

            <h4 class="modal-title fw-bold ">File Requirements</h4>

            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

          </div>



          <!-- File requirements text-->

          <div class="modal-body">  

            <p style="font-weight: bold;" > This system is designed for use with a preprocessed version of the BraTS2020 dataset. To ensure compatibility, please use the provided dataset linked below. </p>


            <p>If you choose to use your own data (not recommended), please ensure it meets the following requirements:</p>

          <ul>

              <li> File format: .h5 (HDF5)</li>
              <li> MRI Modalities: T1, T1Gd, T2, T2-FLAIR (4 channels)</li>
              <li> Image dimensions: 240 × 240 × 4</li>
              <li> Data type: float64</li>
            </ul>

            
            <p>

              Note: BraTS datasets are provided in .nii.gz (NIfTI) format and requires 
                conversion to .h5 format and preprocessing to be compatible 
                with this system. If you choose to use your own data, you will need to 
                perform these steps before uploading.
            </p>

      


            <p style="font-weight: bold;" >To access the dataset, follow these steps:</p>

             <ol>
              <li>Access the dataset using the link provided below</li>
              <li>Download and extract the dataset</li>
              <li>Navigate to the slice level directory</li>
              <li>Select and upload an individual slice file for analysis</li>
              </ol>

            <p>Not all slices in the dataset contain tumors and some may be empty. 
              You may need to use the meta-data file (located in the download folder) to identify slices with visible tumors for testing.</p>




             <p style="font-weight: bold;" >Recommended dataset:
              <a href="https://www.kaggle.com/datasets/awsaf49/brats2020-training-data" target="_blank" rel="noopener noreferrer">BraTS2020 Training Data (Kaggle)</a>
             </p>



          </div>

        </div>


      </div>
    </div>



    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>